
p{
  color: cornsilk;
  background-color:rgb(192, 192, 192);
}


h1{
color: darkmagenta;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
background-image: linear-gradient(rgb(158, 12, 177),black);

}
h3{
  color:black;
}
i {
  font-style: italic;
  color: silver;
}