
p{
  color: silver;

  font-size: medium;
}


h1{
color: darkmagenta;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
background-image: linear-gradient(rgb(158, 12, 177),black);

}
h3{
  color:black;
}
i {
  font-style: italic;
  color: silver;
}
.abt{
  text-align:center;
 padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  size: 50px;

}
.pic{
height: 500px;

}
.about{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
.abtpic{
  height: 300px;
  width:600px;
}


@media screen and (max-width: 600px) {
center{
  padding-bottom: 50px;
}
.about{
display: flex;
  flex-wrap: wrap;
 justify-content: space-evenly;
}
.abt{
  text-align:center;

  padding-left: 30px;
  padding-right: 30px;
  size: 50px;

}

}