.foot {
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding-top: 5px;
  text-align: center;
  background-color: purple;
  color: white;
  
}
@media screen and (max-width: 600px) {
  .foot {
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding-top: 5px;
    text-align: center;
    background-color: purple;
    color: white;
    padding-right: 28%;
  }
}