@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,600&display=swap");
.div1 {
 
  font-family: "Montserrat", sans-serif;
  height: 250px;
  width: 290px;
  padding: 50px;
  padding-left: 10px;
  background-color: yellow;
  border: 5px solid black;
}

.div2 {
 
  border: 5px solid black;
  height: 250px;
  width: 260px;
  padding: 50px;
  background-color: yellow;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.box{
  display: flex;
  flex-direction: row;
 }
ul {
  list-style-type: none;
}
@media only screen and (max-width: 600px) {
 .box{
  display: flex;
  flex-direction: column;
 }
  
}
